<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</>
<head/>
<body>

    <h1>{{.Name}}<h1/>
    <h2>{{.Age}}<h2/>
    {{if .SheperdBreed}}
    <h3>It's a sheperd breed!<h3/>
    {{else}}
    <h3>Not a sheperd breed<h3/>
    {{end}}
    </body>
    <html/>